.navbar {
  background: var(--primary-color);
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
  }

  .navbar-logo {
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
  }

  .theme-toggle-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
    margin-left: 15px;

    &:hover {
      color: var(--btn-hover);
    }
  }

  .navbar-links {
    display: flex;
    gap: 20px;

    .navbar-link {
      color: var(--text-color);
      text-decoration: none;
      font-size: 1rem;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--btn-hover);
      }
    }
    .favorites-link {
      position: relative;
    }

    .fav-badge {
      position: absolute;
      top: -12px;
      right: -12px;
      background-color: red;
      color: var(--text-color);
      font-size: 0.8rem;
      font-weight: bold;
      padding: 2px 0px;
      border-radius: 50%;
      min-width: 20px;
      text-align: center;
    }
  }
}
